@import "../../core.scss";

.more-about-me {
  padding: 18px;
  position: relative;
  display: flex;
  background-color: $black;
  color: $vanilla;

  &.corner-label::before {
    content: "//More about me";
  }

  .date {
    color: $vanilla;
  }
}
