@import "../../core.scss";

.header-c {
  background: linear-gradient(208deg, $other, $main, $secondary, $vanilla);
  background-size: 800% 800%;

  -webkit-animation: Background 48s ease infinite;
  -moz-animation: Background 48s ease infinite;
  -o-animation: Background 48s ease infinite;
  animation: Background 48s ease infinite;

  @-webkit-keyframes Background {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @-moz-keyframes Background {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @-o-keyframes Background {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @keyframes Background {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }

  min-height: 300px;
  padding: 20px;
  display: flex;
  color: $black;

  @media (min-width: 0px) and (max-width: 900px) {
    height: 100%;
    display: block;
  }

  .portrait {
    height: 100%;
    max-height: 340px;
    // margin: 20px;
    border-radius: 100%;

    @media (min-width: 0px) and (max-width: 900px) {
      max-height: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .header-intro {
    margin: 12px 40px;
    .title {
      color: $black;
    }
    .description {
      color: $white;
    }
  }
}
