@import "../../core.scss";

.footer {
  padding: 18px;
  position: relative;
  display: flex;
  background-color: $black;

  // &.corner-label::before {
  //   content: "//";
  // }

  .date {
    color: $vanilla;
  }
}
