@import "../../core.scss";

.currently-working-with {
  text-align: center;
  .header {
    color: $vanilla;
  }
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      height: 124px;
    }
  }
}
