@import '../../core.scss';

.currently-working-with {
  position: relative;
  margin-bottom: 40px;

  .header {
    color: $vanilla;
    margin-top: 8px;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 16px;

    img {
      height: 124px;
      &#react-icon {
        height: 100px;
      }
      &#gql-icon {
        height: 112px;
      }
      &#swift-icon {
        height: 90px;
      }
    }
  }
  .tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    color: $vanilla;

    .tech-col {
      min-width: 275px;
      margin: 20px 40px;

      h1 {
        margin: 0;
        font-size: 54px;
      }
      ul {
        margin-left: 30px;
        li {
          font-size: 24px;
        }
      }
    }
  }
  .corner-label::before {
    content: '{}';
  }
}
