$main: #F34213;
$secondary: #BC5D2E;
$other: #DE9151;
$vanilla: #BBB8B2;
$white: #FDFDFD;
$black: #2E2E3A;


@mixin for-xs {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-sm {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-md {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-lg {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-xl {
    @media (min-width: 1800px) { @content; }
  }

h1 {
    font-size:54px;
    font-weight:bolder;
}

p {
    font-size: 24px;
}

